@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Creepster&family=Kaushan+Script&family=Noto+Serif+JP:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fonte/idroid.otf') format('opentype');
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1rem;
}

:root{
--cor0:#c5ebd6;
--cor1:#83e1ad;
--cor2:#3ddc84;
--cor3:#2fa866;
--cor4:#1a5c37;
--cor5:#063d1e;
--cor6:#ffffff;

--font-padrao: Arial, Verdana, Helvetica, Sans-serif;
--font-destaque:'Bebas neue';
--font-android:'Android', cursive;
}

body{
    background-color: var(--cor0);
    font-family: var(--font-padrao);
    font-size: clamp(1em,1.2vw,1.25em);
}

a.externo::after{
    content: '\00A0\1F517';

}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    padding: 16px;
    text-align: center;
}

header> h1{
    color: var(--cor6);
    font-family: var(--font-destaque);
    font-size: 3em;
    margin-bottom: 20px;
}

header > p{
    font-family: var(--font-padrao);
    font-size: 1.2em;
    color: var(--cor6);
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}
nav{
    background-color: var(--cor5);
    display: flex;
    justify-content: flex-start;
    padding: 8px;
}
nav>a{
    color: var(--cor6);
    text-decoration: none;
    margin: 8px;
}

nav>a:hover{
    text-decoration: underline;
    background-color: var(--cor4);
    color: var(--cor2);
    transition-duration: .6s;
}

main{
    min-width: 300px;
    max-width: 1200px;
    background-color: white;
    margin: auto;
    padding: 12px;
}

main h1{
    font-family: var(--font-android);
    font-size: 1.4em;
    color: var(--cor5);
    margin-top: 10px;
}

main h2{
    font-family: var(--font-android);
    font-size: 1.2em;
    color: var(--cor4);
    margin-top: 10px;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 4px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1em;
    line-height: 1.2em;
}

main strong{
    color: var(--cor3);
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
}

main a:hover{
    text-decoration: underline;
    background-color: var(--cor2);
    color: var(--cor6);
    transition-duration: .5s;
}

h3{
    font-family: var(--font-android);
    text-align: center;
    margin: 8px;
    padding: 4px;
    font-size: 1.5rem;
}
picture>img{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 6px;
}

main img.pequeno{
    max-width: 350px;
    display: block;
    margin: auto;
  
}

div.video{
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
    background-color: var(--cor5);
}
div.video>iframe{
    position: absolute;
    border-radius: 6px;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor0);
    padding: 8px;
    border-radius: 6px;
}
aside ul{
    
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    margin: 12px;
    columns: 2;
    line-height: 1.4em;
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 6px;
    margin-top: 8px;
    font-size: 1em;
}

footer a{
    color: var(--cor2);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor6);
    transition-duration: .5s;
}