#charset "utf-8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #2D4B73,#3d5d87fe);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #99B4BF;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
color: #99B4BF;
text-align: center;
text-shadow: 1px px 3px #99B4BF; 
}
h2{
color: #D9B70D;
}

p{
    text-align: justify;
}