* {
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: aqua;
    padding: 10px;
    margin: 5px;
}
nav{
    background-color: rgb(5, 171, 171);
    padding: 10px;
}
nav > a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

main{
    background-color: rgb(220, 222, 223);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

article{
    margin: 10px;
    padding: 5px;
}
article > aside{
    background-color: aqua;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}

footer{
    background-color: rgb(21, 122, 122);
    text-align: center;
    color: aliceblue;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}